h3{
    color: rgb(138, 5, 96);
    font-size: 50px;
}
p{
    font-size: 20px;
    color: rgb(187, 19, 49);
}
 .t_transform_uppercase{
    text-transform: uppercase ;
 }
 .t_transform_lowercase{
    text-transform: lowercase;
 }
 .t_transform_capitilize{
    text-transform: capitalize;
 }
 .t_center{
    text-align: center;
 }
 .t_right{
    text-align: right;
 }
 .t_left{
    text-align: left;
 }
 .t_decoration_underline{
    text-decoration: underline;
 }
 .t_decoration_overline{
    text-decoration: overline;
 }
 .t_decoration_line{
    text-decoration: line-through;
 }
 .t_decoration_all{
    text-decoration: underline overline line-through;
 
   }
 .t_indend{
    text-indent: 150px;
 }
 .letter_space{
    letter-spacing: 10px;
 }

 .word_space{
    word-spacing: 20px;
 }

 .line_height{
    line-height: 50px;
 }

 .t_shadow{
   font-size:  80px;
   text-align: center;
   color: red;
   text-shadow:6px 6px 8px  rgba(0, 0, 0, 0.829);

 }

 .b_shadow{
   box-shadow: 3px 3px 5px red;
   width:250px;
 }

 .d_shadow{
   box-shadow:4px 4px 3px purple;
   width:500px;
 }

 #t.color{
   color: brown;

 }
 #t_size{
   color: aqua;
 }

.t_color{
  color: limegreen;
}
.t_size{
   font-size: 60px;
}

.t_bg{
   background-color: blueviolet;
}

.t_center{
   text-align: center;
}

.f_family1{
   font-family: sans-serif;
   font-style: oblique;
}
.f_family2{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
}

.f_family3{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.f_family4{
   font-family: serif;
   font-style: unset;
}

.f_family5{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*solid,deashes,dotted,double,inset,outset*/

.b_prop2{
   border: 5px double gold;
}

.b_prop1{
   border: 5px dashed red;
}

.b_prop2{
   /* width: 250px;
   border:6px double blue;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 20px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 20px; */

   border-radius: 50px 20px 50px 20px;
   border-color: brown yellow green pink;
}

.d_prop3{
   width: 250px;
  border:6px double blue;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 20px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 20px;  
    /* border-radius: 50px 20px 50px 20px;  */
    border-color: brown yellow green pink;
}

.box_model_1{
   border: 4px solid red;
   padding: 30px;
   margin: 60px;
}

.box_model_2{
border: 4px solid yellow;
   padding: 30px;
   margin: 60px;
}

.box_model_3{
border: 4px solid blue;
   padding: 30px;
   margin: 60px;
}

.box_model_4{
border: 4px solid green;
   padding: 30px 50px 60px;
   margin: 20px 40px 50px60px;
}

.b_prop_5{
   width:250px ;
   border: 4px double yellowgreen ;
   padding:  30px;
   margin: 60px;
   border-radius: 20px;
   margin-left: 60px;
}
.d_prop3
{
    width:250px ;
   border: 4px double red ;
   padding:  30px;
   margin: 60px;
   border-radius: 20px;
   margin-left: 60px;
}

.linear1{
   height: 400px;
   background: linear-gradient(to right,red ,orange,yellow,green,blue,indigo,violet);
}
.heading1{
   text-align: center;
   padding-top: 20px;
   color: black;
}

.linear2{
   height: 400px;
   background: linear-gradient(orange,white,green);
}
.heading2{
   text-align: center;
   padding-top: 20px;
   color: black;
}

.radial{
   height: 800px;
   background: radial-gradient(circle,yellow,red,green,blue);
   border-radius: 50%;
}

.conic{
   height: 200px;
   background:conic-gradient(from 90deg ,red,green,yellow,orange,purple);
}